doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/jQueryMobile/jquery.mobile-1.4.5.css')
    link(rel='stylesheet', href='/jQueryMobile/jquery.mobile.theme-1.4.5.css')

    script(src="/jQueryMobile/jquery.js")
    script(src="/jQueryMobile/jquery.mobile-1.4.5.js")

  body
    block content
